body {
    margin: 50px;
    background-image: url(../images/parchment_paper_texture.jpg);
}

h1 , h2 {
    font-family:  Arial;
}

.book-border {
    border-color: black;
    margin:  40px;
}